################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyDataPick/MyDataPick/bin/Debug
/MyDataPick/MyDataPick/obj/Debug
/MyDataPick/MyDataPick.Android/bin/Debug
/MyDataPick/MyDataPick.Android/obj
/MyDataPick/MyDataPick.iOS/obj/iPhone/Debug
/packages
